@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f8f9fa;
}

section {
    width: 100vw;
    height: 80vh;
}

.home {
    width: 100vw;
    height: 95vh;
}

.home-background {
    width: 100%;
    height: 100%;
    background: url("../imgs/schoolcover.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel-item{
    height: 95vh;
} 
.carousel-item img{
    height: 95vh;
    object-fit: cover;
}

.home .home-background h1 {
    color: #fff;
    font-size: 50px;
}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    color: #23CDFD !important;
    font-weight: 500;
}

.twitter {
    background: #f8f9fa;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.twitter-embbed {
    width: 30%;
    height: 80%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.extra {
    background: #23CDFD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.block-extra {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.block-extra h2 {
    font-size: 32px;
}

.block-extra p {
    font-size: 14px;
}

section.what img {

    margin-top : 35px;
    border-radius: 20px; 
    border: 2px solid white;
}

section.what h2 {
    font-size: 30px;
    text-align: center;
}

section.extra iframe {
    position: relative;
    width: 600px;
    height: 400px;
}

.history {
    background: #f8f9fa;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.history img {
    height: 50%;
    border-radius: 5px;
    width: 40%;
    object-fit: cover;
}

.how-history {
    width: 50%;
    padding: 24px;
    text-align: center;
}

.about {
    background: #f8f9fa;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about p {
    font-size: 14px;
}

.about img {
    height: 60%;
    border-radius: 5px;
    width: 40%;
    object-fit: cover;
}

.about-history {
    width: 50%;
    padding: 24px;
    text-align: center;
}

.contact {
    width: 100vw;
    height: 100vh;
    background: #23CDFD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form {
    background: #fff;
    width: 80vw;
    padding: 32px;
    border-radius: 5px;
}

.logo {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 768px) {
    .history {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .history img {
        display: none;
    }

    .how-history {
        width: 80%;
    }

    .how-history h1 {
        font-size: 3em;
    }

    .how-history p {
        font-size: 0.6em;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        overflow: scroll;
    }
    
    .about img {
        display: none;
    }
    
    .about-history {
        width: 80%;
        padding: 0;
        margin-top: 40px;
    }

    .about-history h1 {
        font-size: 3em;
    }

    .about-history p {
        font-size: 0.6em;
    }

    section {
        width: 100vw;
        height: 80vh;
    }

    p {
        font-size: 15px;
    }
    
    .carousel-item {
        height: 80vh;
    } 
    .carousel-item img{
        height: 80vh;
        object-fit: cover;
    }

    .form {
        margin-top: 40px;
    }

    .form input, label {
        font-size: 0.7em;
    }

    .form small, textarea {
        font-size: 0.5em;
    }

    .form button {
        width: 100%;
        font-size: 0.5em;
    }

    section.extra {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .twitter {
        background: #f8f9fa;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .twitter-embbed {
        width: 100%;
        height: 100%;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .total {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.extra iframe {
        position: relative;
        width: 80%;
        height: 80%;
    }
}
